#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	margin: auto;
}

#logo{
	width: 900px;
	height: auto; overflow: hidden;
	text-align: center;
}

#seccion-botones{
	width: 900px;
	height: auto; overflow:;
	text-align: center;
	float: left;
	margin-top: 50px;
}

#seccion-botones input{
	width: 200px;
	height: 100px;
	border: 1px solid #ccc;
	border-radius: .5em;
	text-decoration: none;
	padding: 10px 25px 10px 20px;
	margin: 25px;
	margin-bottom: 10px;
	text-align: center;
}

#seccion-botones input:hover{
	background: #0013ff;
	color: #fff;
	transition: background 0.5s, color 0.5s;
}

#btn1{
	margin-right: 50px;
}

#campos{
	margin-top: 100px;
	text-align: center;
}

#encabezado{
	font-style: larger;
}

#campos_texto{
	width: 900px;
	height: auto; overflow: 
	text-align: center;
}

#campos p{
	width: auto; overflow:;
	height: auto; overflow:;
	float: left;
	margin-top: 2px;
	padding: 0px 20px 0px 25px
}

.campo{
	float: left;
	border-radius: 5em;
	margin-right: 50px;
}

.poco{
	margin-left: 11px;
}